site_name: Uplift
site_url: https://upliftci.dev
site_description: Semantic versioning the easy way. Powered by Conventional Commits. Built for use with CI
copyright: Uplift is built and maintained by the folk at Gemba Advantage
repo_name: gembaadvantage/uplift
repo_url: https://github.com/gembaadvantage/uplift
edit_uri: edit/main/docs

theme:
  name: material
  custom_dir: docs/overrides
  logo: static/logo.png
  favicon: static/favicon.ico
  features:
    - content.code.annotate
    - navigation.sections
    - navigation.tabs
    - navigation.top
    - navigation.tracking
    - search.suggest
    - search.highlight
    - search.share
  icon:
    repo: fontawesome/brands/github

nav:
  - Home: index.md
  - Getting Started:
      - Your First Release: first-release.md
      - Tagging your Repository: tagging.md
      - Bumping your Files: bumping-files.md
      - Generating a Changelog: changelog.md
      - Signing Commits: commit-signing.md
      - Conventional Commits: conventional-commits.md
      - License: license.md
      - Installation:
          - install.md
  - Setup:
      - About: config/about.md
      - Basics: config/basics.md
      - Changelog: config/changelog.md
      - File Bumping: config/bumping.md
      - Git: config/git.md
      - Hooks: config/hooks.md
      - Environment Variables: config/env.md
      - CI:
          - About: ci/about.md
          - AWS CodeBuild: ci/awscodebuild.md
          - AWS CodePipeline: ci/awscodepipeline.md
          - CircleCI: ci/circleci.md
          - Cirrus CI: ci/cirrusci.md
          - Codefresh: ci/codefresh.md
          - Drone: ci/drone.md
          - GitHub Action: ci/github.md
          - GitLab: ci/gitlab.md
          - Semaphore: ci/semaphore.md
          - Travis CI: ci/travisci.md
      - SCM Detection:
          - About: scm/about.md
          - Gitea: scm/gitea.md
          - GitHub: scm/github.md
          - GitLab: scm/gitlab.md
  - FAQ:
      - Git Repository is in a Dirty State: faq/gitdirty.md
      - Git Repository has a Detached HEAD: faq/gitdetached.md
      - Git Repository contains a Shallow Clone: faq/gitshallow.md
  - Reference:
      - uplift: cmd/root.md
      - uplift tag: cmd/tag.md
      - uplift bump: cmd/bump.md
      - uplift changelog: cmd/changelog.md
      - uplift release: cmd/release.md
      - uplift completion: cmd/completion.md

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/gembaadvantage
      name: Gemba Advantage on GitHub
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/GA_Uplift
      name: Uplift on Twitter
    - icon: fontawesome/brands/docker
      link: https://hub.docker.com/u/gembaadvantage
      name: Gemba Advantage on Docker

plugins:
  - search
  - minify:
      minify_html: true

markdown_extensions:
  - admonition
  - attr_list
  - footnotes
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - md_in_html
  - meta
  - toc:
      permalink: true
