site_name: Uplift
site_url: https://upliftci.dev
site_description: Semantic versioning the easy way. Powered by Conventional Commits. Built for use with CI
copyright: Uplift is built and maintained by the folk at Gemba Advantage
repo_name: gembaadvantage/uplift
repo_url: https://github.com/gembaadvantage/uplift
edit_uri: edit/main/docs/content
docs_dir: content

theme:
  name: material
  custom_dir: overrides
  logo: static/logo.png
  favicon: static/favicon.ico
  features:
    - content.code.annotate
  icon:
    repo: fontawesome/brands/github

nav:
  - Home: index.md
  - install.md
  - Command Line Usage:
      - uplift: cmd/root.md
      - uplift tag: cmd/tag.md
      - uplift bump: cmd/bump.md
      - uplift changelog: cmd/changelog.md
      - uplift release: cmd/release.md
      - uplift completion: cmd/completion.md
  - Configuration:
      - About: config/about.md
      - Basics: config/basics.md
      - Changelog: config/changelog.md
      - File Bumping: config/bumping.md
      - Git: config/git.md
      - Hooks: config/hooks.md
  - Continuous Integration:
      - About: ci/about.md
      - AWS CodeBuild: ci/awscodebuild.md
      - CircleCI: ci/circleci.md
      - Cirrus CI: ci/cirrusci.md
      - Codefresh: ci/codefresh.md
      - Drone: ci/drone.md
      - GitHub Action: ci/github.md
      - GitLab: ci/gitlab.md
      - Semaphore: ci/semaphore.md
      - Travis CI: ci/travisci.md
  - SCM Detection:
      - About: scm/about.md
      - Gitea: scm/gitea.md
      - GitHub: scm/github.md
      - GitLab: scm/gitlab.md
  - Frequently Asked Questions:
      - Git Repository is in a Dirty State: faq/gitdirty.md
      - Git Repository has a Detached HEAD: faq/gitdetached.md
      - Git Repository contains a Shallow Clone: faq/gitshallow.md

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/gembaadvantage
      name: Gemba Advantage on GitHub
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/GA_Uplift
      name: Uplift on Twitter

plugins:
  - search

markdown_extensions:
  - admonition
  - attr_list
  - footnotes
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - md_in_html
  - meta
  - toc:
      permalink: true
