site_name: Uplift
site_url: https://upliftci.dev
site_description: Semantic versioning the easy way. Powered by Conventional Commits. Built for use with CI
copyright: Uplift is built and maintained by the folk at Gemba Advantage
repo_name: gembaadvantage/uplift
repo_url: https://github.com/gembaadvantage/uplift
edit_uri: edit/main/docs/
docs_dir: content

theme:
  name: material
  icon:
    repo: fontawesome/brands/github

nav:
  - Home: introduction.md
  - install.md
  - Command Line Usage:
      - uplift: cmd/root.md
      - uplift tag: cmd/tag.md
      - uplift bump: cmd/bump.md
      - uplift changelog: cmd/changelog.md
      - uplift release: cmd/release.md
      - uplift completion: cmd/completion.md
  - Configuration:
      - About: config/about.md
      - Basics: config/basics.md
      - File Bumping: config/bumping.md
      - Changelog: config/changelog.md

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/gembaadvantage
      name: Gemba Advantage on GitHub

plugins:
  - search

markdown_extensions:
  - admonition
  - codehilite
  - meta
  - toc:
      permalink: true
