name: docker-test
on:
  push:
    branches:
      - main
    paths:
      - "Dockerfile"
  pull_request:
    paths:
      - "Dockerfile"
env:
  BUILD_TAG: uplift:${{ github.sha }}
jobs:
  docker-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22.3"

      - name: Cache Go
        uses: actions/cache@v4
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: GoReleaser Build APK
        uses: goreleaser/goreleaser-action@v6
        with:
          version: "v1.26.2"
          args: release --clean --snapshot --skip docker,sign,sbom -p 5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Lint Dockerfile
        uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: Dockerfile

      - uses: docker/setup-qemu-action@v3

      - uses: docker/setup-buildx-action@v3

      - name: Build Image
        uses: docker/build-push-action@v6
        with:
          context: ./dist
          file: ./Dockerfile
          push: false
          load: true
          tags: ${{ env.BUILD_TAG }}

      - run: docker run ${{ env.BUILD_TAG }}

      - name: Trivy Vulnerability Scan
        uses: aquasecurity/trivy-action@0.25.0
        with:
          image-ref: ${{ env.BUILD_TAG }}
          format: table
          exit-code: 1
          severity: CRITICAL,HIGH
