name: release
on:
  push:
    tags:
      - "v*.*.*"
jobs:
  goreleaser:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      id-token: write
      packages: write
      security-events: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.22.3"
          cache: true

      - name: Install Cosign
        uses: sigstore/cosign-installer@main

      - name: Download Syft
        uses: anchore/sbom-action/download-syft@v0

      - uses: docker/setup-qemu-action@v3

      - uses: docker/setup-buildx-action@v3

      - name: DockerHub Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.GA_DOCKER_USERNAME }}
          password: ${{ secrets.GA_DOCKER_PASSWORD }}

      - name: GHCR Login
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: "v1.26.2"
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GH_GORELEASER }}
          FURY_TOKEN: ${{ secrets.GH_FURY_TOKEN }}
          SLACK_WEBHOOK: ${{ secrets.GH_SLACK_WEBHOOK }}
          AUR_KEY: ${{ secrets.GH_AUR_KEY }}
          TWITTER_CONSUMER_KEY: ${{ secrets.GH_TWITTER_CONSUMER_KEY }}
          TWITTER_CONSUMER_SECRET: ${{ secrets.GH_TWITTER_CONSUMER_SECRET }}
          TWITTER_ACCESS_TOKEN: ${{ secrets.GH_TWITTER_ACCESS_TOKEN }}
          TWITTER_ACCESS_TOKEN_SECRET: ${{ secrets.GH_TWITTER_ACCESS_TOKEN_SECRET }}

      - name: Trivy Vulnerability Scan
        uses: aquasecurity/trivy-action@0.29.0
        with:
          image-ref: ghcr.io/gembaadvantage/uplift:latest
          format: template
          template: "@/contrib/sarif.tpl"
          output: trivy-results.sarif
          severity: CRITICAL,HIGH

      - name: Upload Trivy Scan Results
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: trivy-results.sarif
